@font-face {
  font-family: 'BebasBook';
  src: url("/fonts/Bebas/BebasNeue-Book.eot");
  src: url("/fonts/Bebas/BebasNeue-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Bebas/BebasNeue-Book.woff") format("woff"), url("/fonts/Bebas/BebasNeue-Book.ttf") format("truetype"), url("/fonts/Bebas/BebasNeue-Book.svg#ProximaNovaLight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BebasRegular';
  src: url("/fonts/Bebas/BebasNeue-Regular.eot");
  src: url("/fonts/Bebas/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Bebas/BebasNeue-Regular.woff") format("woff"), url("/fonts/Bebas/BebasNeue-Regular.ttf") format("truetype"), url("/fonts/Bebas/BebasNeue-Regular.svg#ProximaNovaLight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BebasBold';
  src: url("/fonts/Bebas/BebasNeue-Bold.eot");
  src: url("/fonts/Bebas/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Bebas/BebasNeue-Bold.woff") format("woff"), url("/fonts/Bebas/BebasNeue-Bold.ttf") format("truetype"), url("/fonts/Bebas/BebasNeue-Bold.svg#ProximaNovaLight") format("svg");
  font-weight: 100;
  font-style: normal;
}